@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

body {
  background-color: #0e0e0d;
  color: brown;
  text-align: center;
}

.btn-css {
  margin-left: 20px;
}
 
form {
  margin: auto;
  width: 40rem;
  padding-top: 30px;
}

.btn-success .btn-info{
  margin-top: 20px;
}

.greeting {
  margin-top: 20px;
  margin-bottom: 100px;
}

.main-menu-btn {
  margin: 10px;
  width: 250px;
}

.rev-card {
  background-color: #0e0e0d;
  color: whitesmoke;
}
.rev-orders {
  margin-top: 5rem;
}
.rev-payment {
  margin-top: 5rem;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items-button-style {
  display: flex;
  justify-content: center;
}


.item-card {
  width: 55rem;
  background-color: #0e0e0d;
  border: brown;
}
